dt {
	font-weight: bold;
}
.type_true {
	display: inline-block;
	padding: 10px;
   background-color: #393939;
   margin-right: 5px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	color: #FFFFFF;
}
.type_false {
	display: inline-block;
   padding: 10px;
   background-color: #e6e6e6;
   margin-right: 5px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	border-color: #cecece;
}
.features_true {
	display: inline-block;
   padding: 10px;
   background-color: #50d550;
   margin-right: 5px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	border-color: #0c8a1a;
}
.features_false {
	display: inline-block;
   padding: 10px;
   background-color: #e18484;
   margin-right: 5px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	border-color: #ca1a1a;
}
.permissions_true {
	display: inline-block;
   padding: 10px;
   background-color: #50d550;
   margin-right: 5px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	border-color: #0c8a1a;
}
.permissions_false {
	display: inline-block;
   padding: 10px;
   background-color: #e18484;
   margin-right: 5px;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px;
	border-color: #ca1a1a;
}
.document {
	/* This converts the document line endings into ones that display in html, similar to using br tags */
	white-space: pre-line;
}
